.elegir-comidas p{
    text-align: center;
    margin:2rem;
  
  }
  .formulario-comidas {
    display: flex;
    flex-direction: column;
    .boton {
        margin-top: 2rem;
        width: 5rem;
        margin:1rem auto;
      }
  }
  
  .formulario-comidas-email {
    text-align: center;
    margin-bottom: 2rem;
    input{
        border-radius: .5rem;
        border-width: thin;
      }
   
  }
  
  @media (max-width:420px){
    .formulario-comidas-email input{
      margin-top: 2rem;
     
    }
  }
  .formulario-comidas-seleccion {
      li{
    margin-bottom: 1rem;
    margin-top: 2rem;
}
    label{
        font-weight: bold;
        
      }
  }
  

  
