.elegir-comidas {
  p {
    margin: 2rem;
    text-align: center;
  }
}
.formulario-comidas {
  @extend %formEstilo;
  .boton {
    @extend %formBoton;
  }
}

.formulario-comidas-email {
  text-align: center;
  margin-bottom: 2rem;
  input {
    @extend %formInput;
  }
}

@media (max-width: 420px) {
  .formulario-comidas-email input {
    margin-top: 2rem;
    width: 10rem;
  }
}
.formulario-comidas-seleccion {
  li {
    margin-bottom: 1rem;
    margin-top: 2rem;
  }
  label {
    @extend %formLabel;
  }
}
