
  .nuevoCliente{
       legend {
    color: $primarioOscuro;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}
    label {
        margin-bottom: 2rem;
        align-content: center;
      }
      div{
    input{
        margin-bottom: 2rem;
    }
  }
  
  div{
    
      .boton{
          margin:0 auto;
      }
    
  }
}
  
  
