.grilla2 {
  display: grid;
  grid-template-areas: "info1" "info2" "info3";
}

.info {
  @include principal(600px, 0px);
  background-image: url(../imagenes/saludvegana.jpg);
  grid-area: info1;
  }
.contenido-info {
  @include contenido-principal(0rem, 0rem, $blanco, 1rem, 0rem, $blanco, 1rem);
  h2 {
    margin-top: 2rem;
    font-size: 2rem;
    color: $blanco;
    text-transform: uppercase;
}
}

.info2 {
  @include principal(600px, 0px);
  background-image: url(../imagenes/buenoplaneta.jpg);
  grid-area: info2
}
.contenido-info2 {
  @include contenido-principal(0rem, 0rem, $blanco, 2rem, 0rem, $blanco, 1rem);
  h2 {
    margin-top: 2rem;
    font-size: 2rem;
    color: $blanco;
    text-transform: uppercase;
}
}


.info3 {
  @include principal(600px,0px);
  background-image: url(../imagenes/uva.jpg);
  grid-area: info3;
}
.contenido-info3 {
  @include contenido-principal(0rem, 0rem, $blanco, 1rem, 1rem, $blanco, 1rem);
  iframe {
    margin-top: 1rem;
    margin-bottom: 6rem;
  }

  a {
    font-weight: bold;
  }
  h2 {
    margin-top: 6rem;
    font-size: 2rem;
    color: $blanco;
    text-transform: uppercase;
}
}

@media (max-width: 820px) {
  .contenido-info2 {
    h2 {
      font-size: 1rem;
    }
    p {
      font-size: 0.75rem;
      margin-top: 1rem;
    }
  }

  .contenido-info3 {
    h2 {
      font-size: 1rem;
      margin-top: 2rem;
    }
    iframe {
      margin-bottom: 2rem;
    }
    p {
      font-size: 0.75rem;
      margin-top: 1rem;
    }
  }

  .contenido-info {
    h2 {
      font-size: 1rem;
    }
    p {
      font-size: 0.75rem;
      margin-top: 1rem;
    }
  }
}
